<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="description" content="Boogle login">
      <meta name="keywords" content="HTML, CSS, Boogle, Login, Ljubljana">
      <meta name="author" content="Nataša Fink">
      <title>Boogle Login</title>
      <link rel="stylesheet" href="/assets/css/style-login.css" type="text/css">
    </head>
    <body>
      <header>
        <img class="boogle-logo" src="/assets/images/Boogle1.png">
      </header>
      <main>
        <h1>One account. All of Boogle.</h1>
        {% if ErrorMsg %}
          <h2 class="ErrorMessage">{{ErrorMsg}}</h2>
        {% else %}
          <h2>Sign in with your Boogle Account</h2>
        {% endif %}
        <div id="login_square">
          <div id="avatar-img">
          <img src="/assets/images/avatar_grey.png" width="120" height="120" />
        </div>
        <form method="post" action="/">
          <div id="email-input">
          {% if user_name %}
            <input placeholder={{ user_name }} type="mail" name="user_name"/>
          {% else %}
            <input placeholder="Enter your username" type="mail" name="user_name"/>
          {% endif %}
          </div>
          <div id="password-input-1">
            <input placeholder="Password" type="password" name="user_passwd"/>
          </div>
          <div>
            <input type="submit" id="button" value="Login" />
          </div>
        </form>
        <div id="info">
          <a href="#">Need help?</a>
        </div>
        <div id="create_account">
          <a href="create">Create account</a>
        </div>
        <p>One Boogle Account for everything Boogle</p>
        <div class="product-icons">
          <a href="/boogle"><img class="bgl-sign" src="/assets/images/bgl-font.jpg"></a>
          <a href="#"><img class="Bmail" src="https://png.icons8.com/color/25/000000/gmail-login.png"></a>
          <a href="#"><img class="Bmaps" src="https://png.icons8.com/color/25/000000/google-maps.png"></a>
          <a href="#"><img class="Btube" src="https://png.icons8.com/color/25/000000/youtube-play.png"></a>
          <a href="#"><img class="Bdrive" src="https://png.icons8.com/color/25/000000/google-drive.png"></a>
          <a href="#"><img class="Bphotos" src="https://png.icons8.com/color/25/000000/google-photos.png"></a>
          <a href="#"><img class="Bplay" src="https://png.icons8.com/color/25/000000/google-play.png"></a>
          <a href="#"><img class="Bplay" src="https://png.icons8.com/color/25/000000/chrome.png"></a>
        </div>
      </main>
      <footer>
        <nav class="nav-footer">
            <a href="#">About Boogle</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Help</a>
        </nav>
      </footer>
    </body>
</html>
