<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <meta charset="UTF-8">
        <meta name="description" content="Moj prvi spletni iskalnik">
        <meta name="keywords" content="HTML, CSS, SmartNinja, Ljubljana">
        <meta name="author" content="Nataša Fink">
        <title>Boogle</title>
        <link rel="stylesheet" href="/assets/css/style-signin.css" type="text/css">
    </head>
    <body>
      <header>
        <div class="hdr-text">
          <a href="#">Gmail</a>
          <a href="#">Slike</a>
        </div>
        <div class="hdr-icon">
          <a href="#"><i style="color:dimgray" class="material-icons">apps</i></a>
        </div>
          <a href="/">
          <button class="button1">Sign in</button>
          </a>
      </header>
      <main>
          <img class="boogle-logo" src="/assets/images/Boogle1.png">
          <input class="search-input" type="text">
          <div class="input-icon">
            <a href="#"><img class="keyboard-logo" src="/assets/images/keyboard.gif"></a>
            <a href="#"><img class="voice-logo" src="/assets/images/voice.png"></a>
          </div>
        <div class="brskanje">
            <button class= "iskalnik">Iskanje Google</button>
            <button class= "kliker">Klik na srečo</button>
        </div>
        <p>Boogle je na voljo v:
        <a class="eng" href="#">English</a>
        <a class="ru" href="#">русский</a>
        </p>
      </main>
      <footer>
        <p class="drzava">Slovenija</p>
        <nav class="nav-footer">
            <a href="#">Oglaševanje</a>
            <a href="#">Posel</a>
            <a href="#">Predstavitev</a>
          <div class="desno">
            <a href="#">Zasebnost</a>
            <a href="#">Pogoji</a>
            <a href="#">Nastavitve</a>
          </div>
        </nav>
      </footer>

    </body>
</html>
